.signup {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.signup .form-wrapper {
  border: 1px solid #000;
  height: auto;
  padding: 25px;
  width: 400px;
}
.signup__form {
  display: flex;
  flex-direction: column;
}
.signup__form-control {
  margin-bottom: 15px;
}
.signup__mismatch {
  display: none;
  margin-bottom: 15px;
}
.signup__mismatch span {
  color: red;
}
.signup__mismatch.active {
  display: block;
}
.signup__success {
  display: none;
}